<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
    <!-- 注解所在的包，  扫描dao路径 -->  
    <context:component-scan base-package="com.springMvc.dao"/>  
    <!-- 注解所在的包，  扫描service路径 -->  
    <context:component-scan base-package="com.springMvc.service"/> 
    <!-- 引入jdbc.properties -->  
    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>  
    <!-- 配置一个数据源，用下dbcp连接池 -->  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
        <!-- 用的mysql数据库，连接到数据库mydb（自己新建） -->  
        <property name="driverClassName" value="${driver}" />  
        <property name="url" value="${url}" />  
        <!-- 用户名密码，根据本地数据库自定义 -->  
        <property name="username" value="${username}" />  
        <property name="password" value="${password}" />  
    </bean>  

    <!-- 定义jdbc模板 -->  
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
    
    <bean id="sessionFactory"  
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>  
                <prop key="hibernate.hbm2ddl.auto">update</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop>  
                <prop key="hibernate.jdbc.batch_size">20</prop>  
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>  
                <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>  
                <prop key="jdbc.use_streams_for_binary">true</prop>  
            </props>  
        </property>  
        <property name="packagesToScan">  
            <list>  
                <value>com.springMvc.bean</value>
            </list>  
        </property>  
    </bean>  
  
    <bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"  
        lazy-init="true" />  
  
    <bean id="transactionManager"  
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean>  

	<!-- 引入log4j.properties -->  
    <context:property-placeholder location="classpath:log4j.properties" ignore-unresolvable="true"/>  
</beans>  